{{ define "main" }}
<main class="main">
  <header class="page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Description }}
      <div class="post-description">
        {{ . }}
      </div>
    {{ end }}
  </header>

  {{/* collect papers with status = "working" */}}
  {{ $working := where .Pages "Params.status" "working" }}
  {{ if gt (len $working) 0 }}
    <h2>Working Papers</h2>
    {{ range $working }}
      {{ .Render "summary" }}
    {{ end }}
  {{ end }}

  {{/* collect papers with status = "wip" (works in progress) */}}
  {{ $wip := where .Pages "Params.status" "wip" }}
  {{ if gt (len $wip) 0 }}
    <h2>Works in Progress</h2>
    {{ range $wip }}
      {{ .Render "summary" }}
    {{ end }}
  {{ end }}

</main>
{{ end }}
